@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');

* {
    font-family: 'Fira Sans', sans-serif;
}

.all {
    padding: 5%;
}

.box .bhead {
    background-color: #b8c6db;
    background-image: linear-gradient(0deg, #b8c6db 0%, #f1f1f1 74%);
    border: solid 1px #b8c6db;
    color: black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 3%;
    font-weight: bold;
}
.box .bbody {
    border: solid 1px #b8c6db;
    padding: 5%;
}

.red {
    color: red;
}
.blue {
    color: blue;
}
.green {
    color: green;
}